<!-- _includes/package_bugs.html -->

{% assign source = "" %}

{% for key in site.data.packages %}
    {% if key[0] == include.source %}
        {% assign source = key[0] %}
        {% break %}
    {% endif %}
{% endfor %}


{% assign bugs = site.data.packages[source].bugs %}
{% if bugs.size > 0 %}

<table>
    <thead>
      <tr>
        <th>Bug ID</th>
        <th>Title</th>
        <th>Severity</th>
        <th>Status</th>
        <th>Arrival</th>
        <th>Last Modified</th>
        <th>Submitter</th>
      </tr>
    </thead>
    <tbody>
      <!-- Replace 'kubectx' with your actual package name -->
      {% for bug in site.data.packages[source].bugs %}
      <tr>
        <td>{{ bug.id }}</td>
        <td>{{ bug.title }}</td>
        <td>{{ bug.severity }}</td>
        <td>{{ bug.status }}</td>
        <td>{{ bug.arrival }}</td>
        <td>{{ bug.last_modified }}</td>
        <td>{{ bug.submitter.name }} ({{ bug.submitter.email }})</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endif %}

