<!-- _includes/package_info.html -->

{% assign source = "" %}

{% for key in site.data.packages %}
    {% if key[0] == include.source %}
        {% assign source = key[0] %}
        {% break %}
    {% endif %}
{% endfor %}

<a href="{{ site.data.default.source_base_url }}{{ source }}">Source</a> | 
<a href="{{ site.data.default.tracker_base_url }}{{ source }}">Tracker</a> | 
<a href="{{ site.data.default.vcs_base_url }}{{ source }}">VCS</a> | 
<a href="{{ site.data.default.qa_base_url }}{{ source }}">QA</a> | 
<a href="{{ site.data.default.bugs_base_url }}{{ source }}">Bugs</a>
<ul>
    <li>Version: <strong>{{ site.data.packages[source].version }}</strong></li>
    <li>Architecture: <strong>{{ site.data.packages[source].arch }}</strong></li>
    <li>Standards-Version: <strong>{{ site.data.packages[source].standards_version }}</strong></li>
    <li>Maintainer: <a href="{{ site.data.default.maintainer_page }}">{{ site.data.default.maintainer_name }}</a></li>
</ul>
