<!-- _includes/package_releases.html -->

{% assign source = "" %}

{% for key in site.data.packages %}
    {% if key[0] == include.source %}
        {% assign source = key[0] %}
        {% break %}
    {% endif %}
{% endfor %}

<ul>
  {% for release in site.data.packages[source].releases %}
  <li>{{ release.version }}  ({{ release.release }}{% if release.release == "sid" %} | unstable{% endif %}
  )</li>
  {% endfor %}
</ul>

> If you are using an unlisted debian version probably that means this package it's not available.